.venv/
__pycache__/
*.pyc

.env
token.json
token.auth.json
config/service-key.json

downloads/
audio/
transcripts/
data/
models_cache/
core
storage/
.xxxx/
backups/tmp/
backups/local/
*.log
.antigravitycli/d0a2556a-6ea3-4542-ae68-98c5b69d2585.json
.antigravityignore
